body{
    background-color: aqua;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: bold; 
}

h1{
    color: blue;
}

p{
    font-weight: bolder;
}

input{
    width: 100%;
}

button{
    background-color: coral;
    border: 3px solid blanchedalmond;
    color: white;
}

.people {
    color: red;

}
#blue {
    color:blue
}


